.cardContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 45rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;

  .cardHeader {
    padding: 0.5rem 1rem;
    border-radius: 5px 5px 0 0;
    span {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      .h2Card {
        color: white;
        text-transform: uppercase;
      }
    }
  }
  .blue {
    background-color: var(--blue);
  }
  .yellow {
    background-color: var(--yellow);
  }
  .red {
    background-color: var(--red);
  }
  .blueGrey {
    background-color: var(--blueGrey);
  }
  .darkBlue {
    background-color: var(--darkBlue);
  }

  p {
    line-height: 1.7rem;
    padding: 1rem;
  }
}
