.servicesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 2rem;
  
}
.phone  {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
 
}